body {
    background-image: url("../images/web.jpg");
    height: 100%;
    width: 100%;
    margin: 0;
}

#info-block section {
    border: 30px solid black;
    position: fixed;
    top: 30px;
    left: 30px;
    bottom: 30px;
    right: 30px;

}

.file-marker>div {
    padding: 0 3px;
    height: 100%;
    margin-top: -2.3em;

}

.box-title {
    background: #fefae6 none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
    margin-left: 2em;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2.3em;

}

.box-contents {
    position: absolute;
    top: 20%;
    left: 20%;
    right: 20%;
    bottom: 20%;
    text-align: center;
}

span {
    background-color: transparent;
    border: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 5em;
    text-align: center;
    max-height: 80vh;
    resize: none;
    opacity: 0;
    position: fixed;
    left: 100;
    right: 100;
    transition: opacity .5s ease-in;
}

.fadeIn {
    background-color: transparent;
    border: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 7em;
    text-align: center;
    max-height: 80vh;
    resize: none;
    opacity: 0;
    position: fixed;
    left: 100;
    right: 100;
    transition: opacity .5s ease-in;
}

#nameForm {
    background-color: transparent;
    border: none;
    font-family: 'Reenie Beanie', cursive;
    font-size: 3em;
    text-align: right;
    float: right;
    width: 100%;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
}

.quote {
    font-family: 'Reenie Beanie', cursive;
    font-size: 5em;
}

textarea:focus {
    outline: none;
}

#nameForm:focus {
    outline: none;
}

#verstuurBtn {
    border: 0.2em solid black;
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
    font-size: 2em;
    background-color: transparent;
    text-align: center;
    transition: 0.3s ease-in-out;
}

#verstuurBtn:hover {
    color: white;
    background-color: black;
}

#qr {
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 8%
}

@media screen and (max-width: 800px) {
    body {
        background-image: url("../images/mobiel2.jpg");
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 40vh;
        font-size: 70px;
    }

    .box-contents {
        position: fixed;
        top: 100px;
        left: 75px;
        right: 75px;
        text-align: center;
    }

    #nameForm {
        background-color: transparent;
        border: none;
        font-family: 'Reenie Beanie', cursive;
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    #verstuurBtn {
        border: 0.2em solid black;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 5em;
        background-color: transparent;
        text-align: center;
        transition: 0.3s ease-in-out;
        width: 85vw;
        height: 10vh;
        bottom: 5vh;
        position: fixed;
    }
}

#qr {
    position: fixed;
    bottom: 70px;
    right: 70px;
    width: 15%
}

@media screen and (max-width: 1000px) {
    body {
        background-image: url("../images/mobiel1.jpg");
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 40vh;
        font-size: 120px;
    }

    .box-contents {
        position: fixed;
        top: 100px;
        left: 75px;
        right: 75px;
        text-align: center;
    }

    #nameForm {
        background-color: transparent;
        border: none;
        font-family: 'Reenie Beanie', cursive;
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    #verstuurBtn {
        border: 0.2em solid black;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 5em;
        background-color: transparent;
        text-align: center;
        transition: 0.3s ease-in-out;
        width: 85vw;
        height: 10vh;
        bottom: 5vh;
        position: fixed;
    }

    #qr {
        position: fixed;
        bottom: 70px;
        right: 70px;
        width: 15%
    }

}

@media screen and (max-width: 1100px) {
    body {
        width: 100%;
        background-image: url("../images/mobiel1.jpg");
    }

    textarea {
        width: 100%;
        height: 40vh;
        font-size: 120px;
    }

    .box-contents {
        position: fixed;
        top: 100px;
        left: 75px;
        right: 75px;
        text-align: center;
    }

    #nameForm {
        background-color: transparent;
        border: none;
        font-family: 'Reenie Beanie', cursive;
        font-size: 3em;
        text-align: center;
        width: 100%;
    }

    #verstuurBtn {
        border: 0.2em solid black;
        font-family: 'Rubik', sans-serif;
        font-weight: bold;
        font-size: 5em;
        background-color: transparent;
        text-align: center;
        transition: 0.3s ease-in-out;
        width: 85vw;
        height: 10vh;
        bottom: 5vh;
        position: fixed;
    }

    #qr {
        position: fixed;
        bottom: 70px;
        right: 70px;
        width: 15%
    }
}